<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="main.master.c31">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>

    <application
            android:name=".MyApplication"
            android:allowBackup="true"
            android:hardwareAccelerated="false"
            android:icon="@mipmap/appicon"
            android:label="@string/app_name"
            android:largeHeap="true"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true">
        <activity android:name=".Birthday.byactivity.BirthdayActivity"
                  android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".FacebookpostRequest.byactivity.FBpostPickImage"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".FacebookpostRequest.byactivity.FBpostInfo"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".LauncherMainActivity.UpdateProfile.UpdateProfileActivity"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".UploadActivity.ErrorActivity.NotSubmitedActivity"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".UploadActivity.ByActivity.ActivityPickImage"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".UploadActivity.ByActivity.ActivityDetails"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".LauncherMainActivity.WelcomeActivity"
                android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".testimage.testimageActvity">
        </activity>
        <activity
                android:name=".FacebookPageRequirement.change_in_activity.FBRequirementMenuActivity"
                android:theme="@style/AppTheme.NoActionBar"/>
        <activity
                android:name=".kotlinmvvm.MainLoginActivity"
                android:theme="@style/AppTheme.NoActionBar"/>
        <activity
                android:name=".LauncherMainActivity.LoginActivity"
                android:theme="@style/AppTheme.NoActionBar"
                android:windowSoftInputMode="adjustPan"/>
        <activity
                android:name=".LauncherMainActivity.Splash_screen"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".EventDetails.EventDetails_MainActivity"
                android:theme="@style/AppTheme.NoActionBar"/>
        <activity
                android:name=".ArtWork.Artwork_MainActivity"
                android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
                android:theme="@style/AppTheme.NoActionBar"/>
        <activity
                android:name=".FacebookPageRequirement.pick3topicimages.PickFBRequirementMainActivity"
                android:theme="@style/AppTheme.NoActionBar"/>
        <activity
                android:name=".Birthday.BirthdayMainActivity"
                android:theme="@style/AppTheme.NoActionBar"/>
        <activity
                android:name=".FacebookPageRequirement.FacebookPageRequirementMain"
                android:theme="@style/AppTheme.NoActionBar"/>
        <activity
                android:name=".FacebookpostRequest.FacebookPageRequestMain"
                android:theme="@style/AppTheme.NoActionBar"/>
        <activity
                android:name=".UploadActivity.UploadActivityList.ActivityUploadedList"
                android:theme="@style/AppTheme.NoActionBar"/>
        <activity
                android:name=".UploadActivity.UploadActivityMain"
                android:theme="@style/AppTheme.NoActionBar"
                android:windowSoftInputMode="stateHidden"/>
        <activity
                android:name=".LauncherMainActivity.HOME.MainActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar"/>

        <service
                android:name=".networknotificationtest.FileUploadService"
                android:permission="android.permission.BIND_JOB_SERVICE"/>

        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts"/>

        <service
                android:name=".Service.MyFirebaseMessagingService"
                android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <meta-data
                android:name="com.google.firebase.messaging.default_notification_color"
                android:resource="@color/colorPrimaryDark"/>

        <meta-data android:name="com.rollbar.android.ACCESS_TOKEN"
                   android:value="c3899694c4be47c8b130ca8470d75570" />

    </application>

</manifest>